<h1>Form Parameters</h1>
<p>The example will display submitted form parameters directly via the params hash</p>
<form action="/display" method="post" accept-charset="utf-8">
<input type="text" name="post[fname]" value="Type your first name..." id="fname" /><br />
<input type="text" name="post[lname]" value="Type your last name...." id="lname" /><br />
<input type="submit" value=".. and display it!">
</form>