<h1>Form Parameters Display</h1>
<p>You had entered:</p>
<p>First Name - <%= params[:post][:fname] %></p>
<p>Last Name - <%= params[:post][:lname] %></p>
<p>Click <a href="/">here</a> to try a new name.</p>
